*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000000;
    color:#F5F5F5;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(/Users/edwinaz/Desktop/Portfolio/Background1.jpeg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 1%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 200px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
color: #000000;
font-size: 18px;
text-decoration: none;
position: relative;

}
nav ul li a::after{
    content: '';
    width: 0px;
    height: 3px;
    background-color:brown;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    font-size: 60px;
    color:#060202;
    margin-top: 10%;
}
.header-text p span{
    color:rgb(172, 68, 30);
}
.header-text h1{
    font-size: 30px;
    margin-top: 1%;
    color: #000000;
}
.header-text h1 span{
    color:rgb(142, 21, 132);
}
-------------about-----------
#about{
   padding: 80px 0;
   color: rgb(237, 236, 237);
}
.row{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.colm-1{
    flex-basis: 50%;
}
.colm-1 img{
    width:75%;
    padding: 25px;
    border-radius: 40px;
}
.colm-2{
    flex-basis: 50%;
}
.sub-title{
    font-size: 30 px;
    font-weight: 600;
    color: rgb(161, 11, 231);
}
.colm-2 p{
    color: rgb(255, 255, 255);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    
}
.tab-links p {
    color:white;    
}
.tab-links::after{
content: '';
width: 0;
height: 3px;
background: #ff004f;
position: absolute;
left: 0;
bottom: -8px;
transition: 0.5s;
}
.tab-links.active-links::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:  rgb(148, 92, 175);
}
.tab-contents{
   display: none;
}
.tab-contents.active-tab{
    display: block;
}
-------contact----
.contact-left{
    flex-basis: 45%;
}
.contact-left p{
    margin-top: 30px;
}